//collections


.col-sm-9.padding-right(ng-app="post")
  .features_items(ng-controller="CartCtrl")
    / features_items
    .col-sm-12.middle-line
      .col-sm-8.center-block
        %h5.tit.text-center=  "Коллекция  «#{@col.name}»"
    - @col.products.each do |p|
      .col-sm-4
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              = link_to  image_tag(p.asset.url, :class => "img-responsive product-image"), product_path(p)
              %h2
                %span.rouble Р
                = "#{number_to_currency(p.price, :unit => " ", :precision => 0)}"
             
              %h5= link_to p.title, product_path(p)
              %a.btn.btn-default.add-to-cart{"ng-click" => "add_to_cart(#{p.id})"}
                %i.fa.fa-shopping-cart>
                  В Корзину
              
           
