.col-sm-9.padding-right
  .product-details
    / product-details
    .col-sm-5
      .view-product
        =image_tag(@product.asset.url)
        
     
    .col-sm-7
      .product-information
        / /product-information
        
        %h2= @product.title
        %p= "Артикул: " +  @product.marking.to_s
        
        %span.col-sm-12
          .row
            %span.col-sm-2=   "#{number_to_currency(@product.price, :unit => " ")}"
            .col-sm-10

              = form_for LineItem.new,format: :js,  remote: true, :html =>{:class => "form-inline"}  do |f|

                = label_tag(:quantity, "Количество:")

                = f.number_field(:quantity, :value => "1", :class => "number_integer")
                = f.hidden_field(:product_id, :value=> "#{@product.id}")

                
                = f.submit "В Корзину",  :class=> "btn btn-fefaul cart"  
                  
                    

        = render :partial => "product_detail"
      / /product-information
  / /product-details
  .category-tab.shop-details-tab
    / category-tab
    .col-sm-12
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#details"} Детали
        
        %li
          %a{"data-toggle" => "tab", :href => "#reviews"} Описание
    .tab-content
      #details.tab-pane.fade.active.in
        .col-sm-12
          .col-sm-6
            %p
              %b Страна:
              = @product.collection.label.country.name
            %p
              %b Рисунок:
              = @product.paint.name
            %p
              %b Рекомендуемое помещение:
              = @product.area.name
            
          .col-sm-6
            = render :partial => "product_detail"
        
      #reviews.tab-pane.fade
        .col-sm-12
          
          %p= @product.description
          
  / /category-tab
  .recommended_items(ng-app = "post")
    / recommended_items
    %h4.title_label.text-center(ng-controller="CartCtrl") Похожие товары
    = render :partial => "carousel"
        
