//collections

.col-sm-9.padding-right(ng-app="post")
  .features_items(ng-controller="CartCtrl")
    / features_items
    .col-sm-12.middle-line
      .col-sm-8.center-block
        %h5.tit.text-center=  "Вы искали «#{@search}»"
    -if @result
      - @result.each do |p|
        .col-sm-4
          .product-image-wrapper
            .single-products
              .productinfo.text-center
                = link_to  image_tag(p.asset.url, :class => "img-responsive product-image"), p.prod_path
                %h2= "#{number_to_currency(p.price, :unit => " ")}"

                %h5= link_to p.title, p.prod_path
                %a.btn.btn-default.add-to-cart{"ng-click" => "add_to_cart(#{p.id} #{p.my_type})"}
                  %i.fa.fa-shopping-cart>
                    В Корзину

              .product-overlay
                .overlay-content
                  %h2= "#{number_to_currency(p.price, :unit => " ")}"
                  
                  %h5= link_to p.title, p.prod_path

                  %a.btn.btn-default.add-to-cart{"ng-click" => "add_to_cart(#{p.id} #{p.my_type})"}
                    %i.fa.fa-shopping-cart>
                      В Корзину

              .btn
    - else
      .col-sm-12
        %p= @message
