//main page
.col-sm-9.padding-right(ng-app="post")
  .features_items(ng-controller="PostCtrl")
    / features_items
    %h2.title.text-center Наши Обои
    
    - @product.each do |p|
      .col-sm-4
        .product-image-wrapper
          .single-products
            .productinfo.text-center
              %img.img-responsive.product-image{:alt => "#{p.title}", :src => p.asset.url}/
              %h2
                %span.rouble Р
                = "#{number_to_currency(p.price, :unit => "")}"
            
             
              %p= "#{p.weight} x #{p.height}"
              %p
                =link_to p.title, product_path(p)
                
              %a.btn.btn-default.add-to-cart{"ng-click" => "add_to_cart(#{p.id})"}
                %i.fa.fa-shopping-cart>
                  В Корзину
            
    .row
      #init-data.col-sm-12(data-init="#{@product.last.id}")
    .col-sm-4.phone-listing(ng-init="init_id=#{@product.last.id}" ng-repeat="post in posts" ng-show="posts")
      .product-image-wrapper
        .single-products
          .productinfo.text-center
            %img.img-responsive.product-image{:alt => "", :src => "{{post.asset.url}}"}/
            %h2
              %span.rouble Р
              {{post.price|currency:" "}} 
            %p {{post.weight}} x {{post.height}}
            %p 
              %a{:href => "/product/{{post.id}}"} {{post.title}}
            %a.btn.btn-default.add-to-cart{"ng-click" => "add_to_cart(post.id)"}
              %i.fa.fa-shopping-cart>
                В Корзину

         
      
     
  
    %button.btn.under-footer.center-block(ng-click="add()")
      Показать еще {{x}}
    
